html {
  height: 100%;
  width: 100%;
}

/* Box styles */
.rotate-box {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  transition: all 3s;
}

.rotate-box:hover {
  transform: rotate3d(10,20,30,450deg);
  transition: all 3s;
}