html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(253, 223, 188);
  padding: 20px 50px;
}

div#page {
  background-color: white;
  border: 1px solid black;
}

header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

footer {
  text-align: center;
  padding: 10px;
  border-top: 1px solid black;
  color:darkgrey
}

div#central {
  overflow: hidden;
}

div#central nav {
  width: 25%;
  display: block;
  padding: calc(10%/7);
  float: left;
}

div#central main {
  width: 40%;
  padding: calc(10%/7);
  float: left;
  border-left: 1px solid black;
  border-right: 1px solid black;

}

div#central aside {
  width: 25%;
  display: block;
  padding: calc(10%/7);
  float: right;
}